# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl

# Jupyter Notebook
.ipynb_checkpoints/

# Data
data/
*.csv
*.xlsx
*.xls
*.json

# Environment and system files
.env
.DS_Store
Thumbs.db

# VS Code
.vscode/
